/* include custom font */
@font-face {
  font-family: 'Carrois Gothic';
  src: url(fonts/CarroisGothic-Regular.ttf);

}

/* layout settings */
html, body, .container-fluid, .row {
    font-family: 'Carrois Gothic', sans-serif;
    background-color: white;
    height: 100%;
    width: 100%
}

/* column one */
.left{
    display: flex;
    background-color: black;
    min-height: 100vh;
    align-items: center;
    padding: 0;
}
@media (max-width: 767px) {
    .col-sm-7 {
        min-height: 30vh;
        height: 30vh;
    }
}
@media (max-width: 767px) {
    .col-md-7 {
        min-height: 30vh;
        height: 30vh;
    }
}
@media (max-width: 767px) {
    .col-lg-7 {
        min-height: 30vh;
        height: 30vh;
    }
}

.homelink {
    font-size: 7vmax;
    padding: 0;
    background-color: black;
    color: white;
    border-radius: 0;
    display: inline-block;
    cursor: pointer;
    -moz-transition: all .20s ease-in;
    -o-transition: all .20s ease-in;
    -webkit-transition: all .20s ease-in;
    transition: all .20s ease-in;
}
.homelink:hover {
    font-size: 7vmax;
    padding: 0;
    background-color: white;
    color: black;
    border-radius: 0;
    display: inline-block;
    cursor: pointer;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.nav_dashes {
    font-size: 1.25vmax;
    color: white;
    font-weight: bolder;
}

.btn {
    font-size: 2.55vmax;
    margin: 1vw;
    padding: 0;
    background-color: transparent;
    color: deepskyblue; /*488AC7*/
    border-radius: 0;
    display: inline-block;
    cursor: pointer;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.btn:hover {
    font-size: 2.55vmax;
    margin: 1vw;
    padding: 0;
    background-color: white;
    color: black;
    border-radius: 0;
    display: inline-block;
    cursor: pointer;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

/* column two */
.right{
    display: block;
    background-color: white;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: scroll;
}
@media (max-width: 767px) {
    .col-sm-5 {
        min-height: 70vh;
        height: 70vh;
    } 
}
@media (max-width: 767px) {
    .col-md-5 {
        min-height: 70vh;
        height: 70vh;
    } 
}
@media (max-width: 767px) {
    .col-lg-5 {
        min-height: 70vh;
        height: 70vh;
    } 
}

.slideshow {
    height: 75%; 
    width: 75%; 
    opacity:1;
    transition: opacity 1s;
}

.default {
    height: 89vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

/* both columns */
.center {
    margin: 0 auto;
}
