/* Include custom font */
@font-face {
    font-family: 'Rasa Regular';
    src: url(./fonts/Rasa-Regular.ttf);  
}

@font-face {
    font-family: 'Rasa SemiBold';
    src: url(./fonts/Rasa-SemiBold.ttf);  
}
  
/* Basic design of html elements */
html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Rasa Regular';
    font-style: normal;
    font-weight: normal;
    line-height: auto;
    display: flex;
    align-items: flex-end;

    background-color: #0D324D;
    color: #FFFFFF;

    padding-top: 12.5%;
    padding-left: 4%;
    padding-right: 4%;
}

b {
    font-family: 'Rasa SemiBold';
    color: #FFFFFF;
}

u {
    color: #FFFFFF;
    text-decoration:none;

    -webkit-transition: all .175s ease-in-out;
    transition: all .175s ease-in-out;

    -webkit-box-shadow:inset 0 -2px 0 #ffffff;
    box-shadow:inset 0 -2px 0 #ffffff
}

u:hover {
    color: #0D324D;

    -webkit-box-shadow:inset 0 -32px 0 0 #ffffff;
    box-shadow:inset 0 -32px 0 0 #ffffff;
}

.transition_after_load {
    -webkit-transition: none !important;
    transition: none !important;
}

.greeting {
    color: #FFFFFF;
    font-size: calc(48px + 1vmin);
    padding: 0 !important;
    margin: 0 !important;
}

.about {
    color: #E2E2E2;
    font-size: calc(24px + .5vmin);
    overflow: auto;
}

.navbar {
    text-align: center;
    white-space: nowrap;
    margin-top: 20%;
    display: None;
    overflow: auto;
}

.navbar-item {
    margin-right: calc(10px + 2vmin);
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff00;
}

.navbar-item:hover,
.navbar-item:focus {
    border-bottom: 5px solid #ffffff;
}

.navbar-last-item {
    margin-right: 0;
}